# Assignment 3

### The Iris Dataset contains four features (length and width of sepals and petals) of 50 samples of  three  species  of  Iris  (Iris  setosa,  Iris  virginica  and  Iris  versicolor).  Read  the  Iris  dataset (iris.csv) using pandas and data frame. Write a python program to do the following operations on it.

In [1]:
import pandas as pd
data = pd.read_csv('iris.csv')

### 1.  Print the data frame.

In [2]:
print(data)

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [3]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

### 2.  Display top 5 rows.

In [4]:
print(data.head())  # 5 is default
print(data.head(10))

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa
   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa
5           5.4          3.9           1.7          0.4  Setosa
6           4.6          3.4           1.4          0.3  Setosa
7           5.0          3.4           1.5          0.2  Setosa
8           4.4          2.9           1.4          0.2  Setosa
9           4.9          3.1           1.5          0.1  Setosa

### 3.  Compute statistical analysis on the data frame.

In [5]:
print(data.describe())

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

### 4.  Display 10 random sample rows.

In [6]:
print(data.sample(10))

     sepal.length  sepal.width  petal.length  petal.width     variety
55            5.7          2.8           4.5          1.3  Versicolor
143           6.8          3.2           5.9          2.3   Virginica
148           6.2          3.4           5.4          2.3   Virginica
115           6.4          3.2           5.3          2.3   Virginica
135           7.7          3.0           6.1          2.3   Virginica
140           6.7          3.1           5.6          2.4   Virginica
126           6.2          2.8           4.8          1.8   Virginica
15            5.7          4.4           1.5          0.4      Setosa
20            5.4          3.4           1.7          0.2      Setosa
74            6.4          2.9           4.3          1.3  Versicolor

### 5.  Display the number of columns and names of the columns.

In [7]:
print("No of columns" , end=" : ")
print(len(data.columns))
print("The columns are --->")
print(data.columns)

No of columns : 5
The columns are --->
Index(['sepal.length', 'sepal.width', 'petal.length', 'petal.width',
       'variety'],
      dtype='object')

### 6.  Print the shape of the dataset.

In [8]:
print(data.shape)

(150, 5)

### 7.  Fetch data from 5th row to 10th row.

In [9]:
print(data.iloc[5:11])

    sepal.length  sepal.width  petal.length  petal.width variety
5            5.4          3.9           1.7          0.4  Setosa
6            4.6          3.4           1.4          0.3  Setosa
7            5.0          3.4           1.5          0.2  Setosa
8            4.4          2.9           1.4          0.2  Setosa
9            4.9          3.1           1.5          0.1  Setosa
10           5.4          3.7           1.5          0.2  Setosa

In [10]:
print(data.loc[5:10])

    sepal.length  sepal.width  petal.length  petal.width variety
5            5.4          3.9           1.7          0.4  Setosa
6            4.6          3.4           1.4          0.3  Setosa
7            5.0          3.4           1.5          0.2  Setosa
8            4.4          2.9           1.4          0.2  Setosa
9            4.9          3.1           1.5          0.1  Setosa
10           5.4          3.7           1.5          0.2  Setosa

### 8.  Display data for two columns: petal. length and petal. width

In [11]:
print(data[['petal.length','petal.width']])

     petal.length  petal.width
0             1.4          0.2
1             1.4          0.2
2             1.3          0.2
3             1.5          0.2
4             1.4          0.2
..            ...          ...
145           5.2          2.3
146           5.0          1.9
147           5.2          2.0
148           5.4          2.3
149           5.1          1.8

[150 rows x 2 columns]

### 9.  Counting the number of counts of each variety.

In [12]:
print(data.count())

sepal.length    150
sepal.width     150
petal.length    150
petal.width     150
variety         150
dtype: int64

In [13]:
print(data['variety'].value_counts())

variety
Setosa        50
Versicolor    50
Virginica     50
Name: count, dtype: int64

### 10.  Display only those rows whose variety is Setosa.

In [14]:
print(data[data['variety']=='Setosa'])
print(type(data[data['variety']=='Setosa']))

    sepal.length  sepal.width  petal.length  petal.width variety
0            5.1          3.5           1.4          0.2  Setosa
1            4.9          3.0           1.4          0.2  Setosa
2            4.7          3.2           1.3          0.2  Setosa
3            4.6          3.1           1.5          0.2  Setosa
4            5.0          3.6           1.4          0.2  Setosa
5            5.4          3.9           1.7          0.4  Setosa
6            4.6          3.4           1.4          0.3  Setosa
7            5.0          3.4           1.5          0.2  Setosa
8            4.4          2.9           1.4          0.2  Setosa
9            4.9          3.1           1.5          0.1  Setosa
10           5.4          3.7           1.5          0.2  Setosa
11           4.8          3.4           1.6          0.2  Setosa
12           4.8          3.0           1.4          0.1  Setosa
13           4.3          3.0           1.1          0.1  Setosa
14           5.8          4.0           1.2          0.2  Setosa
15           5.7          4.4           1.5          0.4  Setosa
16           5.4          3.9           1.3          0.4  Setosa
17           5.1          3.5           1.4          0.3  Setosa
18           5.7          3.8           1.7          0.3  Setosa
19           5.1          3.8           1.5          0.3  Setosa
20           5.4          3.4           1.7          0.2  Setosa
21           5.1          3.7           1.5          0.4  Setosa
22           4.6          3.6           1.0          0.2  Setosa
23           5.1          3.3           1.7          0.5  Setosa
24           4.8          3.4           1.9          0.2  Setosa
25           5.0          3.0           1.6          0.2  Setosa
26           5.0          3.4           1.6          0.4  Setosa
27           5.2          3.5           1.5          0.2  Setosa
28           5.2          3.4           1.4          0.2  Setosa
29           4.7          3.2           1.6          0.2  Setosa
30           4.8          3.1           1.6          0.2  Setosa
31           5.4          3.4           1.5          0.4  Setosa
32           5.2          4.1           1.5          0.1  Setosa
33           5.5          4.2           1.4          0.2  Setosa
34           4.9          3.1           1.5          0.2  Setosa
35           5.0          3.2           1.2          0.2  Setosa
36           5.5          3.5           1.3          0.2  Setosa
37           4.9          3.6           1.4          0.1  Setosa
38           4.4          3.0           1.3          0.2  Setosa
39           5.1          3.4           1.5          0.2  Setosa
40           5.0          3.5           1.3          0.3  Setosa
41           4.5          2.3           1.3          0.3  Setosa
42           4.4          3.2           1.3          0.2  Setosa
43           5.0          3.5           1.6          0.6  Setosa
44           5.1          3.8           1.9          0.4  Setosa
45           4.8          3.0           1.4          0.3  Setosa
46           5.1          3.8           1.6          0.2  Setosa
47           4.6          3.2           1.4          0.2  Setosa
48           5.3          3.7           1.5          0.2  Setosa
49           5.0          3.3           1.4          0.2  Setosa
<class 'pandas.core.frame.DataFrame'>

In [15]:
print(data['variety']=='Setosa')
# print(type((data['variety']=='Setosa')))

0       True
1       True
2       True
3       True
4       True
       ...
145    False
146    False
147    False
148    False
149    False
Name: variety, Length: 150, dtype: bool

### 11.  Calculate the sum, mean and mode of a particular column (say petal. length).

In [17]:
print(data['petal.length'].sum())
print(data['petal.length'].mean())
print(data['petal.length'].mode())

563.7
3.7580000000000005
0    1.4
1    1.5
Name: petal.length, dtype: float64

### 12.  Extract minimum and maximum value from a column (say petal. length).

In [20]:
print(data['petal.length'].min())
print(data['petal.length'].max())

1.0
6.9

### 13.  Add a column (say total_value) to the dataset which will display the sum of the integer values of each row.

In [24]:
data['total.value']=data[['petal.length','petal.width','sepal.length','sepal.width']].sum(axis=1)
print(data)

     sepal.length  sepal.width  petal.length  petal.width    variety  \
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

     total.value
0           10.2
1            9.5
2            9.4
3            9.4
4           10.2
..           ...
145         17.2
146         15.7
147         16.7
148         17.3
149         15.8

[150 rows x 6 columns]