In [1]:
import pandas as pd

Print the data frame.

In [2]:
data=pd.read_csv('iris.csv')
print(data)

     sepal.length  sepal.width  petal.length  petal.width    variety  \
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

     total_value
0           10.2
1            9.5
2            9.4
3            9.4
4           10.2
..           ...
145         17.2
146         15.7
147         16.7
148         17.3
149         15.8

[150 rows x 6 columns]

  Display top 5 rows

In [5]:
print(data.head(5))

   sepal.length  sepal.width  petal.length  petal.width variety  total_value
0           5.1          3.5           1.4          0.2  Setosa         10.2
1           4.9          3.0           1.4          0.2  Setosa          9.5
2           4.7          3.2           1.3          0.2  Setosa          9.4
3           4.6          3.1           1.5          0.2  Setosa          9.4
4           5.0          3.6           1.4          0.2  Setosa         10.2

 Compute statistical analysis on the data frame

In [6]:
print(data.describe())

       sepal.length  sepal.width  petal.length  petal.width  total_value
count    150.000000   150.000000    150.000000   150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333    13.858000
std        0.828066     0.435866      1.765298     0.762238     3.123762
min        4.300000     2.000000      1.000000     0.100000     8.400000
25%        5.100000     2.800000      1.600000     0.300000    10.700000
50%        5.800000     3.000000      4.350000     1.300000    14.300000
75%        6.400000     3.300000      5.100000     1.800000    16.250000
max        7.900000     4.400000      6.900000     2.500000    20.400000

Display 10 random sample rows

In [7]:
print(data.sample(10))

     sepal.length  sepal.width  petal.length  petal.width     variety  \
107           7.3          2.9           6.3          1.8   Virginica
93            5.0          2.3           3.3          1.0  Versicolor
114           5.8          2.8           5.1          2.4   Virginica
137           6.4          3.1           5.5          1.8   Virginica
41            4.5          2.3           1.3          0.3      Setosa
124           6.7          3.3           5.7          2.1   Virginica
59            5.2          2.7           3.9          1.4  Versicolor
15            5.7          4.4           1.5          0.4      Setosa
144           6.7          3.3           5.7          2.5   Virginica
73            6.1          2.8           4.7          1.2  Versicolor

     total_value
107         18.3
93          11.6
114         16.1
137         16.8
41           8.4
124         17.8
59          13.2
15          12.0
144         18.2
73          14.8

 Display the number of columns and names of the columns

In [11]:
print(data.columns)
list=data.columns
print(type(list))
print(len(list))

Index(['sepal.length', 'sepal.width', 'petal.length', 'petal.width', 'variety',
       'total_value'],
      dtype='object')
<class 'pandas.core.indexes.base.Index'>
6

Print the shape of the dataset

In [13]:
print(data.shape)

(150, 6)

Fetch data from 5th row to 10th row

In [15]:
print(data.loc[4:10])

    sepal.length  sepal.width  petal.length  petal.width variety  total_value
4            5.0          3.6           1.4          0.2  Setosa         10.2
5            5.4          3.9           1.7          0.4  Setosa         11.4
6            4.6          3.4           1.4          0.3  Setosa          9.7
7            5.0          3.4           1.5          0.2  Setosa         10.1
8            4.4          2.9           1.4          0.2  Setosa          8.9
9            4.9          3.1           1.5          0.1  Setosa          9.6
10           5.4          3.7           1.5          0.2  Setosa         10.8

In [16]:
print(data.iloc[4:10])

   sepal.length  sepal.width  petal.length  petal.width variety  total_value
4           5.0          3.6           1.4          0.2  Setosa         10.2
5           5.4          3.9           1.7          0.4  Setosa         11.4
6           4.6          3.4           1.4          0.3  Setosa          9.7
7           5.0          3.4           1.5          0.2  Setosa         10.1
8           4.4          2.9           1.4          0.2  Setosa          8.9
9           4.9          3.1           1.5          0.1  Setosa          9.6

 Display data for two columns: petal. length and petal. width

In [21]:
print(data[['petal.length','petal.width','variety']])

     petal.length  petal.width    variety
0             1.4          0.2     Setosa
1             1.4          0.2     Setosa
2             1.3          0.2     Setosa
3             1.5          0.2     Setosa
4             1.4          0.2     Setosa
..            ...          ...        ...
145           5.2          2.3  Virginica
146           5.0          1.9  Virginica
147           5.2          2.0  Virginica
148           5.4          2.3  Virginica
149           5.1          1.8  Virginica

[150 rows x 3 columns]

Counting the number of counts of each variety.

In [22]:
print(data['variety'].value_counts())

variety
Setosa        50
Versicolor    50
Virginica     50
Name: count, dtype: int64

Display only those rows whose variety is Setosa.

In [24]:
print(data[data['variety']=='Setosa'])

    sepal.length  sepal.width  petal.length  petal.width variety  total_value
0            5.1          3.5           1.4          0.2  Setosa         10.2
1            4.9          3.0           1.4          0.2  Setosa          9.5
2            4.7          3.2           1.3          0.2  Setosa          9.4
3            4.6          3.1           1.5          0.2  Setosa          9.4
4            5.0          3.6           1.4          0.2  Setosa         10.2
5            5.4          3.9           1.7          0.4  Setosa         11.4
6            4.6          3.4           1.4          0.3  Setosa          9.7
7            5.0          3.4           1.5          0.2  Setosa         10.1
8            4.4          2.9           1.4          0.2  Setosa          8.9
9            4.9          3.1           1.5          0.1  Setosa          9.6
10           5.4          3.7           1.5          0.2  Setosa         10.8
11           4.8          3.4           1.6          0.2  Setosa         10.0
12           4.8          3.0           1.4          0.1  Setosa          9.3
13           4.3          3.0           1.1          0.1  Setosa          8.5
14           5.8          4.0           1.2          0.2  Setosa         11.2
15           5.7          4.4           1.5          0.4  Setosa         12.0
16           5.4          3.9           1.3          0.4  Setosa         11.0
17           5.1          3.5           1.4          0.3  Setosa         10.3
18           5.7          3.8           1.7          0.3  Setosa         11.5
19           5.1          3.8           1.5          0.3  Setosa         10.7
20           5.4          3.4           1.7          0.2  Setosa         10.7
21           5.1          3.7           1.5          0.4  Setosa         10.7
22           4.6          3.6           1.0          0.2  Setosa          9.4
23           5.1          3.3           1.7          0.5  Setosa         10.6
24           4.8          3.4           1.9          0.2  Setosa         10.3
25           5.0          3.0           1.6          0.2  Setosa          9.8
26           5.0          3.4           1.6          0.4  Setosa         10.4
27           5.2          3.5           1.5          0.2  Setosa         10.4
28           5.2          3.4           1.4          0.2  Setosa         10.2
29           4.7          3.2           1.6          0.2  Setosa          9.7
30           4.8          3.1           1.6          0.2  Setosa          9.7
31           5.4          3.4           1.5          0.4  Setosa         10.7
32           5.2          4.1           1.5          0.1  Setosa         10.9
33           5.5          4.2           1.4          0.2  Setosa         11.3
34           4.9          3.1           1.5          0.2  Setosa          9.7
35           5.0          3.2           1.2          0.2  Setosa          9.6
36           5.5          3.5           1.3          0.2  Setosa         10.5
37           4.9          3.6           1.4          0.1  Setosa         10.0
38           4.4          3.0           1.3          0.2  Setosa          8.9
39           5.1          3.4           1.5          0.2  Setosa         10.2
40           5.0          3.5           1.3          0.3  Setosa         10.1
41           4.5          2.3           1.3          0.3  Setosa          8.4
42           4.4          3.2           1.3          0.2  Setosa          9.1
43           5.0          3.5           1.6          0.6  Setosa         10.7
44           5.1          3.8           1.9          0.4  Setosa         11.2
45           4.8          3.0           1.4          0.3  Setosa          9.5
46           5.1          3.8           1.6          0.2  Setosa         10.7
47           4.6          3.2           1.4          0.2  Setosa          9.4
48           5.3          3.7           1.5          0.2  Setosa         10.7
49           5.0          3.3           1.4          0.2  Setosa          9.9

 Calculate the sum, mean , mode min , max of a particular column (say petal. length).

In [27]:
print("Sum:",data['petal.length'].sum())
print("Mean:",data['petal.length'].mean())
print("Mode:",data['petal.length'].mode()[0])

Sum: 563.7
Mean: 3.7580000000000005
Mode: 1.4

In [29]:
print("Mode:",data['petal.length'].mode())

Mode: 0    1.4
1    1.5
Name: petal.length, dtype: float64

In [33]:
print(data['petal.length'].min())
print(data['petal.length'].max())

1.0
6.9

 Add a column (say total_value) to the dataset which will display the sum of the integer values 
of each row

In [37]:
data['total_value']=data[['petal.length','petal.width','sepal.length','sepal.width']].sum(axis=1)
print(data)

     sepal.length  sepal.width  petal.length  petal.width    variety  \
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

     total_value
0           10.2
1            9.5
2            9.4
3            9.4
4           10.2
..           ...
145         17.2
146         15.7
147         16.7
148         17.3
149         15.8

[150 rows x 6 columns]

In [39]:
data.to_csv('iris.csv')

Rename the column name from variety to variety1 and reverse.

In [43]:
data.rename(columns={'variety':'variety1'},inplace=True)

In [44]:
data.to_csv('iris.csv')

In [45]:
data.rename(columns={'variety1':'variety'},inplace=True)

In [46]:
data.to_csv('iris.csv')

Remove total value column

In [47]:
data.drop(columns='total_value',inplace=True)

In [48]:
data.to_csv('iris.csv')

Delete first row

In [49]:
data.drop(index=data.index[0],inplace=True)
print(data)

     sepal.length  sepal.width  petal.length  petal.width    variety
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
5             5.4          3.9           1.7          0.4     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[149 rows x 5 columns]